/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f9;
}

.login-container {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 10px 15px 20px rgba(254, 201, 9, 0.2);
    overflow: hidden;
    max-width: 700px;
}

.login-image {
    background-color: #f3f3f3;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-image img {
    width: 250px;
    height: 250px;
}

.login-form {
    padding: 40px;
    width: 100%;
}

.login-form h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group label {
    display: flex;
    align-items: center;
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.input-group .icon {
    margin-right: 10px;
    font-size: 18px;
}

.input-group input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.error-message {
    display: none;
    color: red;
    font-size: 18px;
    margin-left: auto;
}

.login-button {
    width: 100%;
    background: #2d2d2dd2;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(164, 164, 164, 0.288);
}

.additional-options {
    margin-top: 15px;
    text-align: center;
}

.additional-options a {
    color: #666;
    font-size: 14px;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.additional-options a.create-account {
    font-weight: bold;
    color: #333;
}
