/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f5fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    padding: 70px;
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

nav a {
    color: #6b6b6b;
    text-decoration: none;
}

.levels, .rooms, .info {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.level-card, .room-card, .time-card, .categories-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.level-card {
    flex: 1;
    font-size: 18px;
    color: #6b6b6b;
}

.room-card {
    width: 180px;
}

.room-card h3 {
    margin: 0;
    color: #4caf50;
}

.price {
    font-weight: bold;
    color: #4caf50;
}

.time-card, .categories-card {
    flex: 1;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


.room-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    width: 200px; /* Ajusta este ancho si es necesario */
    max-width: 100%;
    box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho total */
    font-family: Arial, sans-serif;
    overflow: hidden; /* Previene que el contenido se desborde */
}

.room-card h3 {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin: 0; /* Elimina cualquier margen superior/inferior adicional */
}

.room-card h3 .icon-bed {
    width: 100px; /* Ajusta el tamaño del ícono aquí */
    height: auto;
    margin-right: 8px;
}

.room-card p {
    margin: 5px 0; /* Añade espacio uniforme entre párrafos */
}

.room-card .price {
    font-weight: bold;
    color: #007bff;
    font-size: 1.2em;
}
