/* style.css */
:root{
    --blanco: #fff;
    --fondo-pantalla:#f2f5fa;
    --color-texto:#333;
    --color-letra-nav:#6b6b6b;
    --azul-fondo:#007bff;
    --fondo-cards:#f9f9f9;
    --color-border:#ccc;
    --price-color:#4caf50;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--fondo-pantalla);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
}

.container {
    padding: 70px;
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

nav a {
    color: var(--color-letra-nav);
    text-decoration: none;
}


/* DISEÑO INFORMATION CARDS */
.levels, .rooms, .info {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.level-card, .room-card, .time-card, .categories-card {
    background-color: var(--blanco);
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.225);
    text-align: center;
}
.categories-card h1{
    margin-top: 10px;
}
/* DISEÑO LEVELS CARDS */
.level-card {
    flex: 1;
    font-size: 18px;
    color: var(--color-letra-nav);
}
.selected {
    background-color: var(--azul-fondo); 
    color: var(--blanco); 
}

.level-card {
    cursor: pointer;
    padding: 10px;
    border: 1px solid var(--color-border);
    margin: 5px;
}

.level-card:hover {
    background-color: var(--fondo-cards);
    color: var(--color-texto);
}

 
/* DISEÑO ROOM-CARDS */
@media (max-width: 1200px) {
    .rooms {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media (max-width: 900px) {
    .rooms {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 600px) {
    .rooms {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 400px) {
    .rooms {
        grid-template-columns: 1fr; 
    }
}


.rooms {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
    padding: 0px 20px 2px 20px; 
}

.room-card {
    border: 1px solid var(--color-border);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    background-color: var(--fondo-cards);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.room-card h3{
    color: var(--azul-fondo);
    text-transform: uppercase;
}
.room-card .price{
    color: var(--price-color);
    font-size: 18px;
}
.room-card .descripcion{
    line-height: 1.1;
}
.room-card .estado{
    margin: 5px 0px 10px 0px;
    text-transform: uppercase;
}
.room-card .capacidad{
    margin-bottom: 5px;
}
.room-card .estado span {
    padding: 2px 8px;
    border-radius: 3px;
    font-weight: bold;
}

.room-card .disponible {
    color: #28a745; 
    border: 2px solid #28a745; 
}

.room-card .ocupado {
    color: #dc3545; 
    border: 2px solid #dc3545; 
}

.room-card .limpieza {
    color: #ffc107;
    border: 2px solid #ffc107; 
}

.room-card .mantenimiento {
    color: #6c757d; 
    border: 2px solid #6c757d; 
}

.room-card .reservado {
    color: #007bff; 
    border: 2px solid #007bff; 
}

.room-card .default {
    color: #6c757d;
    border: 2px solid #6c757d; 
}


